$--theme-background: --theme-background;
$--theme-text: --theme-text;
$--theme-link-color: --theme-link-color;
$--theme-error-color: --theme-error-color;
$--theme-font-size: --theme-font-size;
$--theme-icon-size: --theme-icon-size;
$--theme-preloader-size: --theme-preloader-size;
$--theme-highlight-color: --theme-highlight-color;
$--theme-slider: --theme-slider;
$--theme-slider-off: --theme-slider-off;
$--theme-slider-on: --theme-slider-on;
$--theme-animation-speed: --theme-animation-speed;