@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-Thin.woff') format('woff');
    font-weight: 250;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-ThinItalic.woff') format('woff');
    font-weight: 250;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}


@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-Black.woff') format('woff');
    font-weight:900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.cdnfonts.com/s/12165/Roboto-BlackItalic.woff') format('woff');
    font-weight:900;
    font-style: italic;
}

@font-face {
    font-family: 'SEIN BLUE';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.cdnfonts.com/s/31890/SEINBLUE.woff') format('woff');
}